body
	margin: 0
	font-family: 'Roboto', sans-serif

.padded
	padding: 5%

.boxes
	color: white
	padding: 8px
	width: 100%
	height: 50px
	display: flex
	align-items: center
	// justify-content: flex-center

code
	// color: orange
	background: light-grey	